* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

/* HEADER */
.cont-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #08806c;

    h1 {
        color: #fdbb5c;
    }

}

.cont-header img {
    display: flex;
    size: 100%;
    height: 12vh;
    overflow: hidden;
}

.cont-botones {
    display: grid;
    gap: 0.5rem 0.5rem;
    padding: 5px 8px;
    margin: 5px;

    justify-items: center;

    .btnNav {
        color: #fdbb5c;
        background-color: hsl(170, 88%, 27%);
        border: none;
        border-radius: 7px;
        width: 130px;
        padding: 0.2rem;
    }

    :hover {
        background-color: #036653;
    }
}

/* BODY */
.cont-general-abierto {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cont-general-cerrado {
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
}

.cont-tienda {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;

    /* TODO: REVISAR una vez que 
    esten agregadas las imagenes */
    gap: 50px;
}

.producto-card {
    padding: 10px;
}

.producto-img {
    display: flex;
    size: 100%;
    height: 25vh;
    overflow: hidden;
}

.cont-carrito {
    background-color: #ccc;
    display: grid;
    align-items: center;
    justify-items: center;
}

/* CLASES JS */

/* .carrito-cerrado {
    display: none;
}

.carrito-abierto {
    display: none;
} */

.sin-stock {
    p {
        color: red;
        text-decoration: line-through;
    }
}